{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item md:grid md:grid-cols-4 md:items-baseline">
        {% if include.type == "grid" and teaser %}
        {% endif %}
        <div class="group relative flex flex-col items-start md:col-span-3">
          <h2 itemprop="headline" class="archive__item-title no_toc text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
            {% if post.link %}
            <a href="{{ post.url | relative_url }}" rel="permalink"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span class="relative z-10">{{ title }}</span></a>
            {% endif %} 
          </h2>
          {% include page__meta.html type=include.type %}
          {% if post.excerpt %}<p itemprop="description" class="archive__item-excerpt relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}

          <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
            Read article<svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current"><path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </div>
        </div>
        
      </article>
</div>

