{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
    <article itemscope class="archive__item md:grid md:grid-cols-4 md:items-baseline" itemtype="https://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
        <!-- <div class="group relative flex flex-col items-start md:col-span-3"> -->
          <h2 itemprop="headline" class="archive__item-title no_toc text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
            <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
            </div>

            
            {% if post.link %}
            <!-- <a href="{{ post.link }}"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"><span class="relative z-10">
              {{ title }} </span></span></a> <a href="{{ post.url | relative_url }}" rel="permalink"><span class="sr-only">Permalink</span></a>
          {% else %} -->
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}

            
            

            <!-- <a href="{{ post.link }}">
              <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
            </span>
          </a> -->
            
          </h2>
         



          {% if post.excerpt %}<p itemprop="description" class="archive__item-excerpt relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        <!-- </div> -->
        
      </article>
</div>